<div style="position: fixed;height: 100%;width: 100%;top: 0;left: 0" class="map-body">
    <div id="mapContainer" style="width: 100%;height: 100%;z-index: 10;">
    </div>
    <div class="hlt-map-bottom">
        <!--轮播图-->
        <div class="carousel-section" ng-if="slides && slides.length" >
            <ul rn-carousel rn-carousel-index="index"  rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
                <li ng-repeat="slide in slides track by slide.id"  ng-class="{'last':(slides.length==1)}" ng-click="toLocation(slide)">
                    <div class="hlt-map-hint" data-event="{{carouselIndex==slide.id?panTo(slide.info):''}}">
                        <div>
                            <h2>{{(slide.id+1)+'.'}}{{slide.info.name?slide.info.name:'线路名称'}}</h2>
                            <p>当前位置：{{slide.info.cur_pos?slide.info.cur_pos:'暂无当前位置信息'}}</p>
                            <p>下一站：{{slide.info.next_station_name?slide.info.next_station_name:'暂无下一站信息'}}  预计 {{slide.info.next_station_arrive_time?slide.info.next_station_arrive_time:'暂无时间'}}</p>
                        </div>
                        <div>
                            <button ng-click="locationMe($event)">定位我</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
