<div style="position: fixed;height: 100%;width: 100%;top: 0;left: 0" class="map-body">
    <div id="mapContainer" style="width: 100%;height: 100%;z-index: 10;">
    </div>
    <div class="hlt-map-bottom">
        <!--轮播图-->
        <div class="carousel-section" ng-if="slides && slides.length" >
            <ul rn-carousel rn-carousel-index="index"  rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
                <li ng-repeat="slide in slides track by slide.id"  ng-class="{'last':(slides.length==1)}" ng-click="toLocation(slide)">
                    <div class="hlt-map-hint" data-event="{{carouselIndex==slide.id?panTo(slide.info,carouselIndex):''}}">
                        <div>
                            <h2>{{slide.line_code?slide.line_code:''}} {{slide.name?slide.name:'未知线路'}}</h2>
                            <div ng-show="slide.info.is_close">
                                <p>您好，您所乘坐的班车尚未开始运营。</p>
                            </div>
                            <div ng-hide="slide.info.is_close">
                                <p>当前位置：{{slide.info.cur_pos?slide.info.cur_pos:'暂无当前位置信息'}}</p>
                                <p ng-show="slide.info.time">位置时间：{{slide.info.time?(slide.info.time*1000 | date:'MM月dd日 HH:mm'):''}}</p>
                                <p ng-show="slide.info.cur_pos">下一站：{{slide.info.next_station_name?slide.info.next_station_name:'暂无下一站信息'}} </p>
                            </div>

                        </div>
                        <div>
                            <button ng-click="locationMe($event)">定位我</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
