//文字颜色
$text-1:#333333;
$text-2:#666666;
$text-3:#ffffff;
$text-4:#999999;
$text-5:#3db5e6;
$text-6:#d5eef9;
$text-8:#ff8800;
$text-9:#4caf50;
$text-10:#fb4a5c;
$text-11:#ea3c39;

//背景颜色
$bg-0:#efefef;
$bg-1:#3db5e6;
$bg-2:#4caf50;
$bg-3:#f36641;
$bg-4:#ff8800;
$bg-5:#ffffff;

$border-color:#CDCDCD;

