/* Welcome to Compass.
 * 旅游线路
 */
@import "compass/css3";
@import "compass/css3/box";
@import "compass/utilities";
.empty-title{
  line-height: 100px;
  text-align: center;
  background-color: #fff;
  color: #555;
  font-size: 14px;
}
.hlt-list{
  margin: 15px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-left: 20px;
  li{
    font-size: 16px;
    border-bottom: 1px solid $border-color;
    @include display-box;
    padding: 10px 10px;
    &:last-child{
      border-bottom: none;
    }
    .bus{
      position: relative;
      top: 10px;
      right: 10px;
      display: block;
      width: 24px;
      height: 24px;
      background: url("../images/icon-bus.png") no-repeat center;
      @include background-size(100%);

    }
    .tag:before{
      content: attr(data-title);
      position: relative;
      top: 0px;
      right: 5px;
      padding-top: 10px;
      text-align: center;
      letter-spacing: 0px;
      font-size: 12px;
      display: block;
      line-height: 14px;
      width: 20px;
      height: 48px;
      color: #ffffff;
      background: url("../images/icon-tag.png") no-repeat center;
      @include background-size(100%);

    }
    &>div.desc{
      display: block;
      @include box-flex(1);
      h3{
        font-size: 16px;
        color: $text-1;
        line-height: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      sub{
        display: block;
        font-size: 14px;
        color: $text-2;
        line-height: 25px;
      }
    }
    &>div.action{
      padding-top: 10px;
      display: block;
      position: relative;
      span{
        display: block;
        font-size: 14px;
        color: $text-4;
        text-align: right;
        line-height: 34px;
        padding:0 10px 0 5px;
      }
    }
    .arrow{
      display: block;
      width: 8px;
      background: url("../images/icon-right.png") no-repeat center;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      -webkit-background-size: 100%;
      background-size: 100%;
    }
  }
}