/* Welcome to Compass.
 * 旅游线路详情
 */
@import "compass/css3";
@import "compass/css3/box";
@import "compass/utilities";

.hlt-map-bottom{
  position: absolute;
  bottom: 10px;
  width: 100%;
  ul[rn-carousel] {
    overflow: inherit;
    width:100%;
    height:117px;
    margin: 0 auto;
  }
  ul[rn-carousel-buffered] > li{
    padding: 0 10px;
    width: 94%;
    position: absolute;
    @include display-box;

    @include box-sizing(border-box);
  }
  ul[rn-carousel-buffered] > li.last{
    width: 100%;
  }
  .carousel-section {
    position: relative;
    width: 100%;;
    display:inline-block;
  }
  .hlt-map-hint{
      position: absolute;
      bottom: 0;
      @include box-flex(1);
      @include user-select(none);
     @include display-box;
      width:94%;
      padding: 5px 10px 10px 10px;
      @include box-sizing(border-box);
      @include box-shadow(0 0 10px #B9B0B0);
      background-color: $bg-5;
      border: 1px solid $border-color;
      &>div:first-child{
        display: block;
        @include box-flex(1);
        h2{
          font-size: 14px;
          color: $text-1;
          line-height: 30px;
        }
        p{
          font-size: 13px;
          color: $text-2;
        }
      }
      &>div:last-child{
        display: block;
        position: relative;
        width: 102px;
        button{
          position: absolute;
          bottom: 0px;
          width: 100px;
          height: 35px;
          font-size: 14px;
          line-height: 35px;
          text-align: center;
          color:$text-3;
          @include border-radius(2px);
          background-color: $bg-1;
          &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            position: relative;
            right: 5px;
            width: 14px;
            height: 14px;
            background: url("../images/icon-location.png") no-repeat center;
            @include background-size(100%);
          }
        }

      }
  }
}
